.custom-navbar {
    height: 60px;
    background-color: transparent !important;
    color: #ffffff;
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out, margin-top 0.3s ease-in-out;
    margin-top: 0;
    z-index: 100;

    &.sidebar-open {
        margin-left: 255px;
        width: calc(100% - 255px);
    }

    &:not(.sidebar-open) {
        margin-left: 85px;
        width: calc(100% - 90px);
    }

    .btn {
        i {
            font-size: 1.5em;
            width: 1.25em;

        }
    }


}

@media (max-width: 768px) {

    .custom-navbar {

        &.sidebar-open {
            transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out, margin-top 0.3s ease-in-out;
            margin-left: 0;
            margin-top: -100px;
            width: 100%;
        }

        &:not(.sidebar-open) {
            transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out, margin-top 0.3s ease-in-out;
            transition-delay: 0.2s;
            margin-top: 0;
            margin-left: 0;
            width: 100%;
        }

    }
}