.table-responsive {
  max-height: calc(100% - 90px);
  overflow-y: auto;
}

.table-header th {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #23272b;
  color: #fff;
  font-weight: 600;
  border-bottom: 2px solid #444;
}

tbody {
  color: #d7d7d7;
  background: #181a1b;
}

td,
th {
  vertical-align: middle;
}

img {
  display: block;
  margin: 0 auto;
}
